#**Importacion de datos**

In [ ]:
import pandas as pd

In [ ]:
url_1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url_2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url_3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url_4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda_1 = pd.read_csv(url_1)
tienda_2 = pd.read_csv(url_2)
tienda_3 = pd.read_csv(url_3)
tienda_4 = pd.read_csv(url_4)

In [ ]:
tienda_4.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
858,Guitarra acústica,Instrumentos musicales,246100.0,11300.0,16/04/2020,Mariana Herrera,Riohacha,1,Nequi,1,11.54444,-72.90722
12,Dashboards con Power BI,Libros,36000.0,9800.0,21/11/2020,Blanca Ramirez,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
1186,Smartwatch,Electrónicos,163300.0,9100.0,16/12/2020,Izabela de León,Bogotá,5,Nequi,1,4.60971,-74.08175
394,Microondas,Electrodomésticos,331600.0,15800.0,10/06/2020,Rafael Acosta,Cartagena,5,Tarjeta de débito,1,10.39972,-75.51444
2280,Dinosaurio Rex,Juguetes,21800.0,0.0,26/02/2020,Lucas Olivera,Medellín,4,Tarjeta de crédito,1,6.25184,-75.56359

#**Análisis de datos**

##**Ingreso total por tiendas**

###**Ingreso de la tienda 1**

In [158]:
ingreso_total_tienda_1 = sum(tienda_1["Precio"])
ingreso_total_tienda_1

1150880400.0

In [159]:
print(f'La tienda 1 obtuvo como ingresos $ {int(ingreso_total_tienda_1)} COP ')

La tienda 1 obtuvo como ingresos $ 1150880400 COP

###**Ingreso de la tienda 2**

In [160]:
ingreso_total_tienda_2 = sum(tienda_2["Precio"])
ingreso_total_tienda_2

1116343500.0

In [161]:
print(f'La tienda 2 obtuvo como ingresos $ {int(ingreso_total_tienda_2)} COP ')

La tienda 2 obtuvo como ingresos $ 1116343500 COP

###**Ingreso de la tienda 3**

In [162]:
ingreso_total_tienda_3 = sum(tienda_3["Precio"])
ingreso_total_tienda_3

1098019600.0

In [163]:
print(f'La tienda 3 obtuvo como ingresos $ {int(ingreso_total_tienda_3)} COP ')

La tienda 3 obtuvo como ingresos $ 1098019600 COP

###**Ingreso de la tienda 4**

In [164]:
ingreso_total_tienda_4 = sum(tienda_4["Precio"])
ingreso_total_tienda_4

1038375700.0

In [165]:
print(f'La tienda 4 obtuvo como ingresos $ {int(ingreso_total_tienda_4)} COP')

La tienda 4 obtuvo como ingresos $ 1038375700 COP

##**Comparación de ingresos de tiendas**

In [166]:
ingresos_tiendas = {"Nombre tienda": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4" ],
                       "Ingresos": [ingreso_total_tienda_1, ingreso_total_tienda_2, ingreso_total_tienda_3, ingreso_total_tienda_4]}
df_ingresos_tiendas = pd.DataFrame(ingresos_tiendas)
df_ingresos_tiendas.sort_values(by="Ingresos", ascending=True)

  Nombre tienda      Ingresos
3      Tienda 4  1.038376e+09
2      Tienda 3  1.098020e+09
1      Tienda 2  1.116344e+09
0      Tienda 1  1.150880e+09

###**Tienda con mayor ingresos**

In [167]:
maximo = max(df_ingresos_tiendas['Ingresos'])
valor_maximo = df_ingresos_tiendas.loc[df_ingresos_tiendas['Ingresos'] == maximo]
valor_maximo

  Nombre tienda      Ingresos
0      Tienda 1  1.150880e+09

###**Tienda con menores ingresos**

In [168]:
minimo = min(df_ingresos_tiendas['Ingresos'])
valor_minimo = df_ingresos_tiendas.loc[df_ingresos_tiendas['Ingresos'] == minimo]
valor_minimo

  Nombre tienda      Ingresos
3      Tienda 4  1.038376e+09

##**Ingreso de ventas por categoría**

###**Ingresos Tienda 1**

In [169]:
df_agrupado_tienda_1 = tienda_1.groupby("Categoría del Producto").sum("Precio")
df_agrupado_tienda_1 = df_agrupado_tienda_1["Precio"]
df_agrupado_tienda_1

Categoría del Producto
Artículos para el hogar     12698400.0
Deportes y diversión        39290000.0
Electrodomésticos          363685200.0
Electrónicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

###**Ingresos Tienda 2**

In [170]:
df_agrupado_tienda_2 = tienda_2.groupby("Categoría del Producto").sum("Precio")
df_agrupado_tienda_2 = df_agrupado_tienda_2["Precio"]
df_agrupado_tienda_2

Categoría del Producto
Artículos para el hogar     14746900.0
Deportes y diversión        34744500.0
Electrodomésticos          348567800.0
Electrónicos               410831100.0
Instrumentos musicales     104990300.0
Juguetes                    15945400.0
Libros                      10091200.0
Muebles                    176426300.0
Name: Precio, dtype: float64

###**Ingresos Tienda 3**

In [171]:
df_agrupado_tienda_3 = tienda_3.groupby("Categoría del Producto").sum("Precio")
df_agrupado_tienda_3 = df_agrupado_tienda_3["Precio"]
df_agrupado_tienda_3

Categoría del Producto
Artículos para el hogar     15060000.0
Deportes y diversión        35593100.0
Electrodomésticos          329237900.0
Electrónicos               410775800.0
Instrumentos musicales      77380900.0
Juguetes                    19401100.0
Libros                       9498700.0
Muebles                    201072100.0
Name: Precio, dtype: float64

###**Ingresos Tienda 4**

In [172]:
df_agrupado_tienda_4 = tienda_4.groupby("Categoría del Producto").sum("Precio")
df_agrupado_tienda_4 = df_agrupado_tienda_4["Precio"]
df_agrupado_tienda_4

Categoría del Producto
Artículos para el hogar     15074500.0
Deportes y diversión        33350100.0
Electrodomésticos          283260200.0
Electrónicos               409476100.0
Instrumentos musicales      75102400.0
Juguetes                    20262200.0
Libros                       9321300.0
Muebles                    192528900.0
Name: Precio, dtype: float64

##**Número de ventas por categoría**

###**Ventas Tienda 1**

In [173]:
numero_ventas_categoria_tienda_1 = tienda_1.groupby("Categoría del Producto").size()
numero_ventas_categoria_tienda_1.sort_values()

Categoría del Producto
Artículos para el hogar    171
Libros                     173
Instrumentos musicales     182
Deportes y diversión       284
Electrodomésticos          312
Juguetes                   324
Electrónicos               448
Muebles                    465
dtype: int64

###**Ventas Tienda 2**

In [174]:
numero_ventas_categoria_tienda_2 = tienda_2.groupby("Categoría del Producto").size()
numero_ventas_categoria_tienda_2.sort_values()

Categoría del Producto
Artículos para el hogar    181
Libros                     197
Instrumentos musicales     224
Deportes y diversión       275
Electrodomésticos          305
Juguetes                   313
Electrónicos               422
Muebles                    442
dtype: int64

###**Ventas Tienda 3**

In [175]:
numero_ventas_categoria_tienda_3 = tienda_3.groupby("Categoría del Producto").size()
numero_ventas_categoria_tienda_3.sort_values()

Categoría del Producto
Artículos para el hogar    177
Instrumentos musicales     177
Libros                     185
Deportes y diversión       277
Electrodomésticos          278
Juguetes                   315
Electrónicos               451
Muebles                    499
dtype: int64

###**Ventas Tienda 4**

In [176]:
numero_ventas_categoria_tienda_4 = tienda_4.groupby("Categoría del Producto").size()
numero_ventas_categoria_tienda_4.sort_values()

Categoría del Producto
Instrumentos musicales     170
Libros                     187
Artículos para el hogar    201
Electrodomésticos          254
Deportes y diversión       277
Juguetes                   338
Electrónicos               451
Muebles                    480
dtype: int64

##**Valoración media por tienda**

###**Valoración Tienda 1**

In [177]:
valoracion_media_1 = tienda_1["Calificación"].mean()
valoracion_media_1
print(f'La valoración media de la tienda 1 es de {valoracion_media_1:.2f} estrellas')

La valoración media de la tienda 1 es de 3.98 estrellas

###**Valoración Tienda 2**

In [178]:
valoracion_media_2 = tienda_2["Calificación"].mean()
valoracion_media_2
print(f'La valoración media de la tienda 2 es de {valoracion_media_2:.2f} estrellas')

La valoración media de la tienda 2 es de 4.04 estrellas

###**Valoración Tienda 3**

In [179]:
valoracion_media_3 = tienda_3["Calificación"].mean()
valoracion_media_3
print(f'La valoración media de la tienda 3 es de {valoracion_media_3:.2f} estrellas')

La valoración media de la tienda 3 es de 4.05 estrellas

###**Valoración Tienda 4**

In [180]:
valoracion_media_4 = tienda_4["Calificación"].mean()
valoracion_media_4
print(f'La valoración media de la tienda 4 es de {valoracion_media_4:.2f} estrellas')

La valoración media de la tienda 4 es de 4.00 estrellas

##**Productos más  y menos vendidos**

###**Tienda 1**

In [181]:
df_productos_tienda_1 = tienda_1.groupby("Producto").size()
df_productos_tienda_1.sort_values(ascending=True)

Producto
Auriculares con micrófono      33
Celular ABXY                   33
Olla de presión                35
Pandereta                      36
Ciencia de datos con Python    39
Mochila                        39
Dinosaurio Rex                 40
Asistente virtual              40
Muñeca bebé                    40
Mesa de comedor                40
Cuerda para saltar             40
Sillón                         41
Set de vasos                   41
Iniciando en programación      41
Balón de voleibol              42
Dashboards con Power BI        42
Tablet ABXY                    42
Set de ollas                   43
Juego de mesa                  43
Smartwatch                     43
Cubo mágico 8x8                44
Cama king                      44
Smart TV                       44
Kit de bancas                  44
Cama box                       44
Mesa de centro                 44
Estufa                         45
Guitarra acústica              46
Silla de oficina               46
Sofá reclinable                46
Lavadora de ropa               47
Guitarra eléctrica             47
Lavavajillas                   48
Ajedrez de madera              49
Iphone 15                      49
Auriculares                    50
Modelado predictivo            51
Carrito de control remoto      52
Cubertería                     52
Batería                        53
Bicicleta                      54
Refrigerador                   54
Vaso térmico                   54
Impresora                      54
Balón de baloncesto            55
Bloques de construcción        56
Mesa de noche                  56
Secadora de ropa               58
Armario                        60
Microondas                     60
TV LED UHD 4K                  60
dtype: int64

####**Productos más vendidos**

In [182]:
valor_producto_mas_vendido_1 = max(df_productos_tienda_1)
producto_mas_vendido_1 = df_productos_tienda_1[df_productos_tienda_1 == valor_producto_mas_vendido_1]
print(f'El producto más vendido fue el {producto_mas_vendido_1} por {valor_producto_mas_vendido_1}')

El producto más vendido fue el Producto
Armario          60
Microondas       60
TV LED UHD 4K    60
dtype: int64 por 60

####**Productos menos vendidos**

In [183]:
valor_producto_menos_vendido_1 = min(df_productos_tienda_1)
producto_menos_vendido_1 = df_productos_tienda_1[df_productos_tienda_1 == valor_producto_menos_vendido_1]
print(f'El producto menos vendido fue el {producto_menos_vendido_1} por {valor_producto_menos_vendido_1}')

El producto menos vendido fue el Producto
Auriculares con micrófono    33
Celular ABXY                 33
dtype: int64 por 33

###**Tienda 2**

In [184]:
df_productos_tienda_2 = tienda_2.groupby("Producto").size()
df_productos_tienda_2.sort_values(ascending=True)

Producto
Juego de mesa                  32
Impresora                      34
Mesa de comedor                34
Sillón                         35
Auriculares                    37
Asistente virtual              38
Cubertería                     39
Smart TV                       40
Celular ABXY                   41
Estufa                         42
Dinosaurio Rex                 42
Balón de baloncesto            42
Dashboards con Power BI        43
Ciencia de datos con Python    43
Auriculares con micrófono      44
Mesa de noche                  44
Olla de presión                44
Tablet ABXY                    44
Sofá reclinable                44
Smartwatch                     44
Kit de bancas                  45
Bicicleta                      45
Cama king                      45
TV LED UHD 4K                  45
Mochila                        45
Mesa de centro                 45
Cubo mágico 8x8                45
Ajedrez de madera              45
Balón de voleibol              46
Set de vasos                   46
Modelado predictivo            46
Lavavajillas                   46
Carrito de control remoto      47
Guitarra eléctrica             47
Cama box                       47
Vaso térmico                   47
Muñeca bebé                    48
Refrigerador                   49
Silla de oficina               49
Lavadora de ropa               49
Cuerda para saltar             50
Set de ollas                   52
Bloques de construcción        54
Armario                        54
Iphone 15                      55
Secadora de ropa               57
Guitarra acústica              58
Pandereta                      58
Batería                        61
Microondas                     62
Iniciando en programación      65
dtype: int64

####**Productos más vendidos**

In [185]:
valor_producto_mas_vendido_2 = max(df_productos_tienda_2)
producto_mas_vendido_2 = df_productos_tienda_2[df_productos_tienda_2 == valor_producto_mas_vendido_2]
print(f'El producto más vendido fue el {producto_mas_vendido_2} por {valor_producto_mas_vendido_2}')

El producto más vendido fue el Producto
Iniciando en programación    65
dtype: int64 por 65

####**Productos menos vendidos**

In [186]:
valor_producto_menos_vendido_2 = min(df_productos_tienda_2)
producto_menos_vendido_2 = df_productos_tienda_2[df_productos_tienda_2 == valor_producto_menos_vendido_2]
print(f'El producto menos vendido fue el {producto_menos_vendido_2} por {valor_producto_menos_vendido_2}')

El producto menos vendido fue el Producto
Juego de mesa    32
dtype: int64 por 32

###**Tienda 3**

In [187]:
df_productos_tienda_3 = tienda_3.groupby("Producto").size()
df_productos_tienda_3.sort_values(ascending=True)

Producto
Bloques de construcción        35
Set de vasos                   36
Mochila                        36
Microondas                     36
Vaso térmico                   38
Guitarra eléctrica             38
Cubertería                     39
Asistente virtual              39
Auriculares con micrófono      39
Muñeca bebé                    39
Dashboards con Power BI        40
Batería                        41
Mesa de centro                 42
Lavadora de ropa               42
TV LED UHD 4K                  42
Auriculares                    43
Celular ABXY                   44
Cubo mágico 8x8                44
Sofá reclinable                45
Secadora de ropa               45
Ciencia de datos con Python    46
Iphone 15                      46
Smartwatch                     46
Silla de oficina               46
Dinosaurio Rex                 46
Cama box                       46
Iniciando en programación      46
Guitarra acústica              47
Sillón                         47
Olla de presión                47
Ajedrez de madera              47
Balón de voleibol              48
Tablet ABXY                    48
Armario                        49
Impresora                      50
Balón de baloncesto            50
Refrigerador                   50
Pandereta                      51
Bicicleta                      52
Lavavajillas                   52
Carrito de control remoto      52
Juego de mesa                  52
Estufa                         53
Cuerda para saltar             53
Modelado predictivo            53
Smart TV                       54
Set de ollas                   55
Mesa de noche                  55
Cama king                      56
Mesa de comedor                56
Kit de bancas                  57
dtype: int64

####**Productos más vendidos**

In [188]:
valor_producto_mas_vendido_3 = max(df_productos_tienda_3)
producto_mas_vendido_3 = df_productos_tienda_3[df_productos_tienda_3 == valor_producto_mas_vendido_3]
print(f'El producto más vendido fue el {producto_mas_vendido_3} por {valor_producto_mas_vendido_3}')

El producto más vendido fue el Producto
Kit de bancas    57
dtype: int64 por 57

####**Productos menos vendidos**

In [189]:
valor_producto_menos_vendido_3 = min(df_productos_tienda_3)
producto_menos_vendido_3 = df_productos_tienda_3[df_productos_tienda_3 == valor_producto_menos_vendido_3]
print(f'El producto menos vendido fue el {producto_menos_vendido_3} por {valor_producto_menos_vendido_3}')

El producto menos vendido fue el Producto
Bloques de construcción    35
dtype: int64 por 35

###**Tienda 4**
**Productos más vendidos**

In [190]:
df_productos_tienda_4 = tienda_4.groupby("Producto").size()
df_productos_tienda_4.sort_values(ascending=True)

Producto
Guitarra eléctrica             33
Armario                        34
Guitarra acústica              37
Ciencia de datos con Python    38
Lavadora de ropa               38
Refrigerador                   38
Ajedrez de madera              39
Celular ABXY                   39
Smartwatch                     39
Secadora de ropa               40
Silla de oficina               40
TV LED UHD 4K                  40
Kit de bancas                  42
Auriculares con micrófono      42
Lavavajillas                   43
Cuerda para saltar             43
Mochila                        43
Iniciando en programación      43
Mesa de centro                 44
Auriculares                    44
Sillón                         45
Tablet ABXY                    45
Bicicleta                      45
Olla de presión                46
Set de vasos                   46
Estufa                         47
Dinosaurio Rex                 47
Cubo mágico 8x8                47
Sofá reclinable                47
Juego de mesa                  48
Batería                        48
Iphone 15                      48
Muñeca bebé                    48
Vaso térmico                   48
Balón de voleibol              48
Microondas                     48
Balón de baloncesto            50
Asistente virtual              50
Set de ollas                   50
Impresora                      50
Modelado predictivo            50
Pandereta                      52
Bloques de construcción        54
Smart TV                       54
Carrito de control remoto      55
Mesa de comedor                55
Mesa de noche                  55
Cama king                      56
Dashboards con Power BI        56
Cubertería                     59
Cama box                       62
dtype: int64

####**Productos más vendidos**

In [191]:
valor_producto_mas_vendido_4 = max(df_productos_tienda_4)
producto_mas_vendido_4 = df_productos_tienda_4[df_productos_tienda_4 == valor_producto_mas_vendido_4]
print(f'El producto más vendido fue el {producto_mas_vendido_4} por {valor_producto_mas_vendido_4}')

El producto más vendido fue el Producto
Cama box    62
dtype: int64 por 62

####**Productos menos vendidos**

In [192]:
valor_producto_menos_vendido_4 = min(df_productos_tienda_4)
producto_menos_vendido_4 = df_productos_tienda_4[df_productos_tienda_4 == valor_producto_menos_vendido_4]
print(f'El producto menos vendido fue el {producto_menos_vendido_4} por {valor_producto_menos_vendido_4}')

El producto menos vendido fue el Producto
Guitarra eléctrica    33
dtype: int64 por 33

##**Valor promedio de Flete**

###**Promedio Tienda 1**

In [193]:
promedio_flete_tienda_1 = tienda_1['Costo de envío'].mean(skipna=True)
print(f'El costo de envío promedio de la tienda 1 es ${int(promedio_flete_tienda_1)} COP')

El costo de envío promedio de la tienda 1 es $26018 COP

###**Promedio Tienda 2**

In [194]:
promedio_flete_tienda_2 = tienda_2['Costo de envío'].mean(skipna=True)
print(f'El costo de envío promedio de la tienda 2 es ${int(promedio_flete_tienda_2)} COP')

El costo de envío promedio de la tienda 2 es $25216 COP

###**Promedio Tienda 3**

In [195]:
promedio_flete_tienda_3 = tienda_3['Costo de envío'].mean(skipna=True)
print(f'El costo de envío promedio de la tienda 3 es ${int(promedio_flete_tienda_3)} COP')

El costo de envío promedio de la tienda 3 es $24805 COP

###**Promedio Tienda 4**

In [196]:
promedio_flete_tienda_4 = tienda_4['Costo de envío'].mean(skipna=True)
print(f'El costo de envío promedio de la tienda 4 es ${int(promedio_flete_tienda_4)} COP')

El costo de envío promedio de la tienda 4 es $23459 COP

#**Visualización**